* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
        background-color: #d1d1d1;
}

li, a, button {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none; 
    padding: 0 3px;
    
}

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;;
    background-color: #111111;
    height: 10vh;
}

.logo {
    cursor: pointer;
    color: white; 
    font-family: 'Roboto Slab', serif;
    letter-spacing: .3em;
    font-size: 18px;
}

nav {
    display: inline-flex; 
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 5px;

}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: rgba(210, 215, 211, 1);
}

    .socials {
    float: right;
    
    }        

@media (min-width:701px) {
    .container{ 
    display: none;
    }
}

@media (max-width:700px) {
    header {
        height: 8vh;
        justify-content: center; 
        padding: 20px
    }
    
    .logo {
        font-size: 25px; 
    }
    
    li, a, button {
        font-size: 20px;
    }
        
    .navlinks {
        position: absolute;
        left:0;
        height: 59vh;
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translatex(-100%);
        transition: transform 0.2s ease-in;
        background-color: #1d1d1d;
        top: 8vh; 
        opacity: 70%;
        width: 100%;
    }

    .navlinks li:hover {
        background-color:rgb(48, 48, 48);
    }

    .navlinks li:active {
        background-color:rgb(94, 94, 94);
    }
    
    .navlinks li {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 25px;
        width: 100%;
    }

    .socials {
        display: none; 
    }
        
    .container {
    cursor: pointer;
    position: absolute;
    padding-right: 87%; 
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: rgba(210, 215, 211, 1);
  margin: 6.5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);

}

.change .bar2{opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-10px, -10px);
    }
    
    .nav-active {
        transform: translateX(0%);
    }
 
}