* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
        background-color: #dfdfdf;
}

li, a, button {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none; 
    padding: 0 3px;
    
}

header {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;;
    background-color: #222222;
    height: 10vh;
    min-height: 65px;
}

.logo {
    cursor: pointer;
    color: white; 
    font-family: 'Roboto Slab', serif;
    letter-spacing: .3em;
    font-size: 14px;
    text-align: center;
}

nav {
    display: inline-flex; 
    z-index: 9999;
    -webkit-user-select: none;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 5px;

}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: rgb(179, 179, 179);
}

.gallery {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(265, 250, 250);
    padding: 50px 0;
}


.img1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(images/drink.jpg);
    background-size: cover;
    width: 430px;
    height: 30vh;
    position: relative;
    display: flex;
    margin: 1vh;
}

.img2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(images/lunch.jpg);
    background-size: cover;
    width: 430px;
    height: 30vh;
    position: relative;
    display: flex;
    margin: 1vh;
}
.img3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(images/main.jpg);
    background-size: cover;
    width: 430px;
    height: 30vh;
    position: relative;
    display: flex;
    margin: 1vh;
}
.img4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(images/dessert.jpg);
    background-size: cover;
    width: 430px;
    height: 30vh;
    position: relative;
    display: flex;
    margin: 1vh;
}
.img5 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(images/vegetarian.jpg);
    background-size: cover;
    width: 430px;
    height: 30vh;
    position: relative;
    display: flex;
    margin: 1vh;
}
.img6 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(images/kids.jpg);
    background-size: cover;
    width: 430px;
    height: 30vh;
    position: relative;
    display: flex;
    margin: 1vh;
}


.image:hover {
    filter: brightness(+1.2);
    cursor: pointer;
}

.card-title{
    margin: auto;
    color: rgb(265, 250, 250);
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 4px 4px #1d1d1d;
}

.menu-heading {
    max-width:1500px;
    height:100px;
    margin: auto;
    text-align: center;
    background-color:rgb(265, 250, 250);
    padding: 25px;
    font-family: 'Bebas Neue', cursive;
    color: #222222;
    -webkit-user-select: none;
}
.menu-heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    margin: auto;
    text-shadow: 3px 2px rgb(216, 216, 215);
}


@media (min-width:1001px) {
    .container{ 
    display: none;
    }
}

@media (max-width:1000px) {
    header {
        height: 60px;
        justify-content: center; 

    }

    h3 {
        display: none;
    }
    
    .logo {
        font-size: 15px; 
    }
    
    li, a, button {
        font-size: 20px;
    }
        
    .navlinks {
        margin-top: 32px;
        position: absolute;
        left:0;
        height: 58vh;
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translatex(-100%);
        transition: transform 0.2s ease-in;
        opacity: 98%;
        width: 100%;
    }

    .navlinks li:hover {
        background-color:rgb(48, 48, 48);
    }

    .navlinks li:active {
        background-color:rgb(94, 94, 92);
    }
    
    .navlinks li {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 25px;
        width: 100%;
        background-color: #1d1d1d;
    }

    .socials {
        display: none; 
    }
        
    .container {
    cursor: pointer;
    position: absolute;
    padding-right: 87%; 
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: rgba(210, 215, 211, 1);
  margin: 6.5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);

}

.change .bar2{opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-10px, -10px);
    }
    
    .nav-active {
        transform: translateX(0%);
    }


    .main {
        z-index: 0;
    }
    .img {
        width: 350px;
        height: 25vh;
        margin: 2vh;
    }
    .card-title{
        font-size: 27px;
        text-decoration: none;
    }


    .img1 {
        height: 30vh;
        width: 380px;
        margin: 0;
    }
    .img2 {
        height: 30vh;
        width: 380px;
        margin: 0;
    }
    .img3 {
        height: 30vh;
        width: 380px;
        margin: 0;
    }
    .img4 {
        height: 30vh;
        width: 380px;
        margin: 0;
    }
    .img5 {
        height: 30vh;
        width: 380px;
        margin: 0;
    }
    .img6 {
        height: 30vh;
        width: 380px;
        margin: 0;
    }
    .menu-heading {
        height: 70px;
    }
    .menu-heading h1{
        font-size: 30px;
    }

    .image {
        filter: grayscale(0);
    }
    
    .image:hover {
        filter: grayscale(50) brightness(+1.5);
}
}
